{#
 # Component: General Content
 # -------------------
 #
 #}

{% import '/macros/_macros' as macros %}

<section class="js-component component component--general-content" data-header-colour="dark">
  <div class="general-content">
    <div class="general-content__wrap wysiwyg js-inview">
      {{ component.copy }}
    </div>
  </div>
</section>
